body {
    background: #DBDBDB;
    color: black;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Poppins';
}

#app {
    margin: 150px 15px;
    min-width: 350px;
    max-width: 800px;
    background-color: white;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
} 

.app-container {
    padding: 50px 26px 60px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.input_container, 
.age_container {
    display: flex;
}

.input_container {
    justify-content: space-between;
    padding-bottom: 60px;
}

.age_container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#year-content_text, 
#month-content_text, 
#day-content_text {
    height: 64px;
}

.label {
    text-transform: uppercase;
    color: #716F6F;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    letter-spacing: 3px;
}

.input_fields {
    outline: none;
    color: #141414;
    font-weight: bold;
    caret-color: #854DFF;
    font-size: 22px;
    max-width: 63px;
    padding: 10px 12px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
    cursor: pointer;
}

.input_fields[type=text]:focus{
    border: 1px solid #854DFF;
}

::placeholder {
    color: #DBDBDB;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.bar-decoration {
    border-bottom: 2px solid #DBDBDB;
    opacity: 0.5;
}

button {
    width: 60px;
    height: 60px;
    z-index: 1;
    margin: 0 auto;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    position: absolute;
    background-color: #854DFF;
    border: 1px solid transparent;
}

button:hover {
    background-color: #000;
}

.age {
    color: #854DFF;
    font-weight: bold;
    font-size: 50px;
}

.default-age {
    text-transform: lowercase;
    color: #000;
    font-size: 46px;
    margin-left: 10px;
    font-weight: bold;
}

.error-warning {
    border: 1px solid  #FF5757;
}

.error-state_text {
    color:  #FF5757;
    margin: 5px 7px;
    font-size: 8px;
    letter-spacing: 0px;
    text-transform:lowercase;
}

.error-state_title {
    color: #FF5757;
}



/*Desktop*/
@media (min-width: 768px) {
    
    #app {
        margin: 200px auto;
    }

    .app-container {
        padding: 30px 60px 60px 56px;
    }

    .input_container {
        width: 523px;
        justify-content: flex-start;
    }

    .input_fields {
       padding: 20px;
       margin-right: 34px;
       max-width: 100px;
    }

    .bar-decoration {
        width: 600px;
    }

    .button-container {
        justify-content: flex-end;
        margin-bottom: 30px;
    }

    button {
        width: 90px;
        height: 90px;
    }

    svg {
        width: 46px; 
        height: 44px;
    }

    #year-content_text, 
    #month-content_text, 
    #day-content_text {
         height: 90px;
    }

    .age {
        font-size: 75px;
    }

    .default-age {
        font-size: 80px;
        margin-left: 10px;
        font-weight: bold;
    }

    .error-state_text {
        font-size: 12px;
    }
}